body {
  background-color: rgb(253, 253, 253);
}

.menu {
  background-image: linear-gradient(
    to right,
    rgb(247, 150, 150),
    rgb(243, 241, 248)
  );
  border-color: rgb(243, 115, 115);
}

.contact-info-i {
  color: rgb(238, 111, 111);
}

footer {
  background-color: rgb(247, 150, 150);
}
