nav .logo {
  height: 60px;
  width: 60px;
  margin-bottom: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#carousel {
  text-align: center;

  #carousel img {
    height: auto;
    width: 60%;
  }
}

#ubicacion {
  display: flex;
  justify-content: center;
}

#mapa {
  align-items: center;
  display: flex;
  justify-items: center;

  iframe {
    width: 100%;
    height: 350px;
    margin: 5%;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin-left: 15%;
  }

  .contact-info i {
    height: 50px;
    width: 50px;
    margin: 1%;
  }
  .contact-info-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
  }
}

footer {
  border-top: 1px solid;
  text-align: right;
  padding: 5px 10px 5px 5px;
  margin-top: 25px;
  margin-bottom: 0;
}
