body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
}

h2 {
  color: rgb(238, 111, 111);
}

h3 {
  color: rgb(252, 121, 121);
}
